<div id="fireart" v-cloak>

  <h1 class="text-center">Fireart test task</h1>
    <div class="container-fluid">
        <div class="row">
            <div v-for="story in storiesToShow" :key="story.title" class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-dark font-weight-bold mb-3 text-capitalize">{{story.title}}</h5>
                        <div class="mb-3">
                            <a :href="story.preview" target="_blank" class="btn btn-outline-primary btn-sm">
                                Preview Story
                            </a>
                        </div>
                        <div class="mt-auto pt-3 border-top">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img :src="story.author.avatar" :alt="story.author.username" class="rounded-circle border mr-3" width="40" height="40">
                                    <small class="text-muted font-weight-medium">@{{story.author.username}}</small>
                                </div>
                                <small class="text-muted">
                                    <i class="far fa-calendar-alt mr-1"></i>
                                    {{story.publish_date}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="stories.length > 10 && stories.length !== storiesToShow.length" class="row pb-5">
            <button @click="showMore" class="btn btn-outline-primary btn-lg m-auto">Show more</button>
        </div>
    </div>
</div>
<%- exposeLocalsToBrowser() %>
